<div id="dashboard" class="container">
    <h1><%= @season.name %> Season</h1>
    <div class="row">
        <% unless @season.closed? %>
            <%= render 'next_game', season: @season %>
        <% end %>
        <%= render 'current_week', season: @season %>
        <%= render 'standings', season: @season %>
        <%= render 'latest_results', season: @season %>
        <%= render 'upcoming_games', season: @season %>
    </div>
</div>