<div class="col-12">
    <div id="next-game" class="card">
        <div class="card-body">
            <h3 class="card-title">My Next Game</h3>
            <% unless @next_game.nil? %>
                <div class="row"> 
                    <div class="col-sm-12 col-md text-center">
                        <div class="team" style="background:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),url(<%= asset_path 'graphic1.jpg' %>)">
                            <span class="team-name"><%= User.find(@next_game.away_team_id).team_name %></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md text-center align-middle vs">
                        vs
                    </div>
                    <div class="col-sm-12 col-md text-center">
                        <div class="team" style="background:linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.3) ),url(<%= asset_path 'graphic2.png' %>)">
                            <span class="team-name"><%= User.find(@next_game.home_team_id).team_name %></span>
                        </div>
                    </div>
                </div>
            <% else %>
                No games scheduled.
            <% end %>
            <div class="text-center">
                <%= link_to 'Record Result', new_game_result_path(@next_game) %>
            </div>
        </div>
    </div>
</div>