<%
@my_games = Game.where(season_id: season.id).where('away_team_id=? OR home_team_id=?', current_user.id, current_user.id)
game_number = @my_games.find_index(@next_game)
%>
<% if game_number %>
    <% if (game_number / season.games_per_week) <= (season.start_date.step(Date.today, 7).count) %>
        <div class="next-game-status">
            <% unless @next_game.game_time %>
                <div class="alert alert-success">
                    <span>Ready to Schedule</span>
                </div>
                <%= link_to 'Schedule Game', new_game_game_time_path(@next_game), class: "btn btn-primary" %>
            <% else %>
                <p class="text-uppercase fw-bold mb-3">
                    <%= @next_game.game_time.date_time.in_time_zone(current_user.time_zone).strftime("%a, %b %-d, %l:%M %P") %> 
                    <%= link_to edit_game_game_time_path(@next_game) do %>
                        <i class="fas fa-edit"></i>
                    <% end %>
                </p>
                <% Time.use_zone(current_user.time_zone) do %>
                    <% if Time.current > @next_game.game_time.date_time.in_time_zone(current_user.time_zone) %>
                        <%= link_to 'Record Result', new_game_result_path(@next_game), class: "btn btn-primary" %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% else %>
        <div class="next-game-status">
            <p class="text-uppercase fw-bold">Week #<%= (season.start_date.step(Date.today, 7).count) + 1 %></p>
        </div>
    <% end %>
<% else %>
    <div class="next-game-status alert alert-primary">
        <span>No additional games are scheduled</span>
    </div>
<% end %>