<div class="col-md-6">
    <div class="card standings">
        <div class="card-body">
            <h3 class="card-title">Standings</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Team</th>
                        <th class="text-center" scope="col">GP</th>
                        <th class="text-center" scope="col">GD</th>
                        <th class="text-center" scope="col">PTS</th>
                    </tr>
                </thead>
                <tbody>
                    <% @team_stats = TeamStat.where(season_id: season.id).order(points: :desc, goal_difference: :desc) %>
                    <% @team_stats.each_with_index do |team, index| %>
                    <tr>
                        <td><%= index + 1 %></td>
                            <td><%= team.user.team_name %></td>
                            <td class="text-center"><%= team.wins + team.losses + team.overtime_losses %></td>
                            <td class="text-center"><%= team.goal_difference %></td>
                            <td class="text-center fw-bold purple"><%= team.points %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="text-center">
                <%= link_to 'View Full Standings', season_standings_path(season), class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>