<div id="dashboard" class="container">

    <% if @seasons.any? %>

        <% @seasons.each do |season| %>
            <h2><%= season.name %> Season</h2>
            <div class="row">
                <%= render partial: 'next_game', locals: { season: season } %>
                <%= render partial: 'standings', locals: { season: season } %>
                <%= render partial: 'latest_results', locals: { season: season } %>
                <%= render partial: 'upcoming_games', locals: { season: season } %>
            </div>
        <% end %>

    <% else %>

        <div class="card">
            <div class="card-body text-center">
                <h1>Welcome!</h1>
                <p>Thanks for creating an account!</p>
                <p>You haven't been added to any seasons yet but that should be coming soon.</p>
            </div>
        </div>

    <% end %>

</div>