<div id="dashboard" class="container">

    <% if @seasons.any? %>

        <div class="row">
            <% @seasons.each do |season| %>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title"><%= link_to "#{season.name} Season", season %></h2>
                            <p><%= season.current_week %></p>
                            <p>Record: <%= TeamStat.find_by(user_id: current_user.id, season_id: season.id).record %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

    <% else %>

        <%= render 'welcome' %>

    <% end %>

    <% if current_user.super_admin? %>
        <%= render 'admin' %>
    <% end %>

</div>