<div class="container reduced-width">
    <div class="text-center mb-5">
        <h1>Edit Game Time</h1>
        <h2><%= User.find(@game.away_team_id).team_name %> vs <%= User.find(@game.home_team_id).team_name %></h2>
        <p>Enter the agreed upon time with your opponent.<p>
        <h4>Game can be scheduled for <%= @earliest_date.strftime("%b %-d, %Y") %> or later</h4>
    </div>
    <div class="mb-3">
        <%= form_with url: game_game_time_path(@game), method: :put do |form| %>
            <div class="mb-3">
                <%= form.label "Game Date and Time", class: "form-label" %>
                <span class="form-text">Timezone: <%= current_user.time_zone %></span>
                <%= form.datetime_local_field :date_time, class: "form-control", value: @game_time.date_time.in_time_zone(current_user.time_zone) %>
                <span class="form-text">Click calendar icon to open calendar picker</span><br>
                <span class="form-text"><%= current_user.time_zone %> not your timezone? Update in <%= link_to "My Account", edit_user_registration_path %></span>
            </div>
            <div>
                <%= form.submit "Set Time", class: "btn btn-primary" %>
                <%= link_to "Back", :back, class: "btn btn-secondary" %>
            </div>
        <% end %>
    </div>
</div>