<div class="container reduced-width">
    <div class="text-center mb-5">
        <h1>Schedule Game Time</h1>
        <h2 class="purple mb-4"><%= User.find(@game.away_team_id).team_name %> vs <%= User.find(@game.home_team_id).team_name %></h2>
        <p>Enter the agreed upon time with your opponent.<p>
    </div>
    <div class="mb-3">
    <%= form_with(url: game_game_time_path(@game), method: :post) do |form| %>
        <div class="mb-3">
            <%= form.label "Game Date and Time", class: "form-label" %>
            <span class="form-text">Timezone: <%= current_user.time_zone %></span>
            <%= form.datetime_local_field :date_time, class: "form-control" %>
            <span class="form-text">Click calendar icon to open calendar picker</span><br>
            <span class="form-text"><%= current_user.time_zone %> not your timezone? Update in <%= link_to "My Account", edit_user_registration_path(current_user) %></span>
        </div>
        <%= form.submit "Set Game Time", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>