<div class="container reduced-width">
    <div class="text-center mb-4">
        <h1>Record Result</h1>
    </div>
    <div class="row">
        <div class="col">
            <%= form_with(url: game_results_path(@game), method: :post) do |form| %>
                <div class="row">
                    <div class="col-12 mb-3">
                        <h3>Score</h3>
                    </div>
                    <div class="col mb-3">
                        <%= form.label "#{User.find(@game.away_team_id).team_name} Goals", class: "form-label" %>
                        <%= form.text_field :away_goals, class: "form-control" %>
                    </div>
                    <div class="col mb-3">
                        <%= form.label "#{User.find(@game.home_team_id).team_name} Goals", class: "form-label" %>
                        <%= form.text_field :home_goals, class: "form-control" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4 mb-3">
                        <h3>OT / Shootout</h3>
                    </div>
                    <div class="col mb-3">
                        <%= form.label "Did the game go into overtime?", class: "form-label" %>
                        <%= form.select(:overtime, options_for_select([['No', 0], ['Yes', 1]]), {}, { class: "form-select" } ) %>
                    </div>
                    <div class="col mb-3">
                        <%= form.label "Did the game go into a shootout?", class: "form-label" %>
                        <%= form.select(:shootout, options_for_select([['No', 0], ['Yes', 1]]), {}, { class: "form-select" } ) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <%= form.submit "Save Result", class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>