<div class="container">
    <h1>My Games</h1>
    <h2><%= @season.name %> Season</h2>
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <%= link_to 'View All Games', season_games_path(@season) %>
            </div>
    <table class="table games">
        <thead>
            <tr>
                <th class="text-center">Away</th>
                <th class="d-none d-md-table-cell"></th>
                <th></th>
                <th class="d-none d-md-table-cell"></th>
                <th class="text-center">Home</th>
            </tr>
        </thead>
        <tbody>
            <% @games.each do |game| %>
            <tr>
                <td class="text-center">
                    <%= User.find(game.away_team_id).team_name %>
                    <% if game.result %>
                        <div class="d-md-none text-center fw-bold<% if game.result and game.result.away_goals > game.result.home_goals %> won<% end %>"><%= game.result.away_goals %></div>
                    <% end %>
                </td>
                <td class="text-end d-none d-md-table-cell fw-bold<% if game.result and game.result.away_goals > game.result.home_goals %> won<% end %>">
                    <% if game.result %>
                        <%= game.result.away_goals %>
                    <% end %>
                </td>
                <td class="text-center game-status fw-bold">
                <% if game.result %>
                    <% if game.result.shootout == 1 %>
                        FINAL(SO)
                    <% elsif game.result.overtime == 1 %>
                        FINAL(OT)
                    <% else %>
                        FINAL
                    <% end %>
                <% else %>
                    <% if current_user.id == game.away_team_id or current_user.id == game.home_team_id %>
                        <%= link_to 'Record Result', new_game_result_path(game), class: "btn btn-primary record-result" %>
                    <% else %>
                        -
                    <% end %>
                <% end %>
                </td>
                <td class="d-none d-md-table-cell fw-bold<% if game.result and game.result.away_goals < game.result.home_goals %> won<% end %>">
                    <% if game.result %>
                        <%= game.result.home_goals %>
                    <% end %>
                </td>
                <td class="text-center">
                    <%= User.find(game.home_team_id).team_name %>
                    <% if game.result %>
                        <div class="d-md-none text-center fw-bold<% if game.result and game.result.away_goals < game.result.home_goals %> won<% end %>">
                            <%= game.result.home_goals %>
                        </div>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
    </div>
</div>