<!DOCTYPE html>
<html>
  <head>
    <title>Basement Hockey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="ui">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag('BHL.png') %>
        <% end %>
        <div class="beta">
          Beta
        </div>
      </div>
    </nav>

    <% flash.each do |type, msg| %>
      <div class="container">
        <div class="alert alert-primary text-center">
          <%= msg %>
        </div>
      </div>
    <% end %>
    
    <%= yield %>
    </div>
    <footer>
      <% if user_signed_in? %>
      <div id="footer-links" class="container">
        <div class="row">
          <div class="col">
            <% unless current_page?(root_path) %>
                <%= link_to  "Return to Dashboard", root_path, id: "back-to-dashboard" %>
            <% end %>
          </div>
          <div class="col text-center">
            <% unless current_page?(edit_user_registration_path(current_user)) %>
              <%= link_to  "My Account", edit_user_registration_path(current_user) %>
            <% end %>
          </div>
          <div class="col text-end">
            <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
          </div>
        </div>
        </div>
      <% end %>
    </footer>
  </body>
</html>
